<div class="dungeonParmContainer">
	<div id="input-holder">

			<div class="parameterContainer">

				<h3>Dungeon or Arena?</h3>
				<form>
					Dungeon<input id="dungeon" type="radio">
					Arena<input id="arena" type="radio">
				</form>

			</div>

			<div class="parameterContainer">

				<h3>Map Dimensions</h3>
				<form>
					Length<input id="length" type="number">
					Width<input id="width" type="number">
				</form>

			</div>

			<div class="parameterContainer">

				<h3>Gap Density<br></h3>
				<input class="slider" type="range">

			</div>

			<div class="parameterContainer">

				<h3>Encounter Density<br></h3>
				<input class="encounter-slider" type="range">

			</div>

	</div>
</div>